@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Playfair+Display:wght@400;700&display=swap');


body {
    font-size: 16px;
}

h1 {
    font-family: Playfair Display;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    margin: 1rem 0;
}

h2 {
    font-family: Playfair Display;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #333333;
}

h3 {
    font-family: Playfair Display;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}

h4 {
    font-family: Playfair Display;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #333333;
}

blockquote {
    font-family: Montserrat;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    color: #4F4F4F;
    margin: 1rem 0 1rem 1.5rem;
    position: relative;

    &::before {
        content: '';
        width: 13px;
        height: 8px;
        background-color: pink;
        display: block;
        background: url(../assets/6dots.svg) left top;
        background-size: 100%;
        position: absolute;
        left: -1.5rem;
        top: 0.15rem;
    }
}

article {
    ul {
        padding: 0 0 0 1rem;
        margin-bottom: 2rem;
        list-style-type: none;
        li {
            margin-bottom: 1rem;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            color: #333333;
            position: relative;
            padding-left: 1rem;
            b {
                font-weight: 700;
            }
            &::before {
                content: '';
                display: inline-block;
                width: 21px;
                height: 21px;
                border: 1px solid #828282;
                border-radius: 4px;
                position: absolute;
                left: -1rem;
                background-color: white;
            }
        }
    }
}

section {
    ol {
        list-style: none;
        counter-reset: instructions;
        li {
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            margin-bottom: 1rem;
            position: relative;
            padding-left: 1rem;
            counter-increment: instructions;
            b {
                font-weight: 700;
            }
            &::before {
                content: counter(instructions);
                display: flex;
                justify-content: center;
                width: 36px;
                height: 36px;
                position: absolute;
                left: -2.5rem;
                background: #F2994A;
                color: #fff;
                border-radius: 6px;
                font-family: Playfair Display;
                font-size: 24px;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: 0em;
            }
        }
    }
}